.main-app-login {
    margin: 0 auto;
    display: flex;
    align-items: center;
    place-content: center;
}

.login-container {
    width: clamp(200px, 40vw, 500px);
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
        margin: 0;
        padding: 0;
        color: #205777;
    }

    input {
        text-align: center;
        margin: 0;
    }
}

.login-error {
    color: #a80003;
    font-weight: 600;
    width: 100%;
    text-align: center;
}