.user-list {
    margin: 0;
    position: absolute;
    right: 8px;
    left: 0;
    top: 16px;
    bottom: 32px;
    overflow-y: auto;
}

.users-wrapper {
    margin-left: 32px;
    display: flex;
    max-height: 100%;
    flex-flow: column nowrap;
    gap: 16px;
    padding: 16px 0;
}

.user-container {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    overflow: visible;

    &.active {
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: -16px;
          right: 8px;
          top: -8px;
          bottom: -8px;
          background: #00000020;
          border-radius: 8px;
          z-index: -1;
        }
    }
}

.user-name {
    font-weight: bold;
}

.user-connected-time {
    font-weight: 200;
    font-size: .8rem;
}
